<div class="header-modal">
    <div class="container">

        <div class="header-modal__header flex --just-space">
            <div class="header-modal__header-item header-modal__header-item--dubai --svg__telegram-after">Дубай</div>
            <div class="header-modal__header-item  header-modal__header-item--arrow-2 --svg__arrow-2-before">Доллар, $</div>
            <div class="header-modal__header-item header-modal__header-item--arrow-2 --svg__arrow-2-before">Ру</div>
        </div>
        <div class="header-modal__list font--accent flex --dir-col">
            <div class="header-modal__list-item"><a href="">продажа</a></div>
            <div class="header-modal__list-item"><a href="">аренда</a></div>
            <div class="header-modal__list-item"><a href="">новостройки</a></div>
            <div class="header-modal__list-item"><a href="">виллы</a></div>
            <div class="header-modal__list-item"><a href="">сервисы</a></div>
            <div class="header-modal__list-item"><a href="">компания</a></div>
        </div>
        <div class="header-modal__footer font--accent flex --dir-col">
            <a class="header-modal__footer-list-item" href="">Избранное</a>
            <a class="header-modal__footer-list-item  " href="">+ 7 232-232-23-23</a>
        </div>
    </div>
</div>