<footer class="footer">
    <div class="container">
        <div class="footer__header text">
            ЦИАН — база данных о недвижимости. Использование сайта означает согласие с Пользовательским соглашением и Политикой конфиденциальности ЦИАН. Оплачивая лицензионный платеж, вы принимаете Лицензионное соглашение.

        </div>
        <div class="footer__content">
            <div class="footer__content-header">
                <a href="" class="footer__logo"></a>
                <div class="footer__socials">
                    <a class="footer__social item--white --svg__socials-vk"></a>
                    <a class="footer__social item--white --svg__socials-inst"></a>
                    <a class="footer__social item--white --svg__socials-tiktok"></a>
                    <a class="footer__social item--white --svg__socials-youtube"></a>
                </div>
            </div>
            <div class="footer__content-list text">
                <a class="footer__content-item">Справочный центр </a>
                <a class="footer__content-item">Карьера в Циан</a>
                <a class="footer__content-item">Карта сайта</a>
                <a class="footer__content-item">Свежие объявления</a>
                <a class="footer__content-item">Помощь</a>
                <a class="footer__content-item">Проверка недвижимости</a>
                <a class="footer__content-item">Юридические документы</a>
                <a class="footer__content-item">Тарифы и цены</a>

            </div>
            <div class="footer__content-btns">
                <a class="footer__content-btn btn" href="">Доступно в AppStore</a>
                <a class="footer__content-btn btn" href="">Доступно GooglePlay</a>
            </div>
        </div>
    </div>
</footer>
