<section class="catalog">
    <div class="container">
        <div class="catalog__wrapper">

            <div class="catalog__content">
                <h2 class="catalog__title">Уникальный выбор жилья 
                    в&nbsp;каталоге</h2>
                <div class="catalog__description">Больше 10000 предложений апартаментов, квартир и другой недвижимости, которых нет на сайтах!</div>
                <button class="catalog__btn">скачать каталог</button>
            </div>
        </div>
    </div>
</section>