<div class="header__navigation">
    <div class="header__navigation-content --align-center">
        <a href="/"> <div class="header__navigation-logo"></div></a>
        <div class="header-header__navigation">
            <div class="header-header__navigation-item"><a href="catalog.html">Продажа</a></div>
            <div class="header-header__navigation-item"><a href="">Аренда</a></div>
            <div class="header-header__navigation-item"><a href="">Новостройки</a></div>
            <div class="header-header__navigation-item"><a href="">Виллы</a></div>
            <div class="header-header__navigation-item"><a href="">Сервисы</a></div>
            <div class="header-header__navigation-item"><a href="">Компания</a></div>
        </div>
        <div class="header-submenu flex --just-space">
            <div class="header-submenu-item header-submenu-item--dubai --svg__location-after">Дубай</div>
            <div class="header-submenu-item header-submenu-item--arrow-2 --svg__arrow-2-before">Ру</div>
            <div class="header-submenu-item  header-submenu-item--arrow-2 --svg__arrow-2-before">$, Доллар</div>
        </div>
        <div class="header__navigation-list">
            <a href=""> <div class="header__navigation-item header__navigation-item--bookmark item--white --svg__bookmark"></div></a>
            <a href=""> <div class="header__navigation-item item--white --svg__whatsapp"></div></a>
            <a href=""> <div class="header__navigation-item item--white  --svg__telegram"></div></a>
            <a href=""> <div class="header__navigation-item item--accent --svg__phone"></div></a>
           
            <button class="header__navigation-button header__navigation-button--open  --svg__burger "></button>
        </div>
    </div>
</div>
@@include('../header__modal/header__modal.html')
