<div class="districts__swiper-slide">
    <div class="districts__slide-content" style="background-image: url('./img/districts-@@img.webp');">

        <div class="districts__swiper-slide-header">
            <div class="districts__swiper-slide-header__title">
                @@title
            </div>
            <div class="districts__slider-item__prices">
                <div class="districts__slider-item__price">от @@price $</div>
                <span class="districts__slider-item__dot"></span>
                <div class="districts__slider-item__count">@@count предложений</div>
            </div>
        </div>
        <a class="districts__slide__button item-button --svg__arrow"></a>
    </div>
</div>