<div class="projects__swiper-slide ">

    <div class="projects__slider-item">
        <div class="projects__slider-item__buttons">
            <button class="item-button projects__item-button --svg__bookmark"></button>
            <button class="item-button projects__item-button --svg__share"></button>
            <button class="item-button projects__item-button --svg__phone-black"></button>
        </div>
        <div class="projects__slider-item__titles">
            <img class="projects__slider-item__img" src="./img/projects__slider-@@img.webp" alt="">
            <div class="projects__slider-item__bookmark  --svg__big-bookmark">@@bookmark</div>
            <div class="projects__slider-item__subtitle subtitle">@@subtitle</div>
            <div class="projects__slider-item__title">@@title</div>
            <div class="projects__slider-item__description">
                Небольшое описание комплекса на пару строк, чтобы захотелось смотреть дальше и купить его
            </div>
            <div class="projects__slider-item__prices">
                <div class="projects__slider-item__price">@@price</div>
                <span class="projects__slider-item__dot"></span>
                <div class="projects__slider-item__count">@@count предложений</div>
            </div>
        </div>
    </div>
</div>