<section class="developer">
    <div class="container">
        <div class="subtitle developer__subtitle">застройщики</div>
        <div class="developer__section-title section__title">
            <h2 class="title-2 developer__title">Serenia Residences</h2>
            <div class="developer__swiper-buttons swiper-buttons">

                <button class="swiper-button developer__swiper-button-prev --svg__arrow-prev-before"></button>
                <button class="swiper-button developer__swiper-button-next --svg__arrow-next-before"></button>
            </div>
            <div class="developer__description">
                Serenia Residences is a hidden gem on The Palm Jumeirah, home to a select few. This magnificent property is a private residential resort that offers an elite collection of 1, 2, 3 bedroom apartments and half-floor penthouses set in a stunning location overlooking The Palm, Atlantis, Burj Al Arab, the Dubai Marina skyline and the captivating blue seas of The Gulf.
            </div>
        </div>
        <div class="developer__item">
            <div class="developer__item-content">

                <div class="developer__item-title">azizi mina palm jumeirah</div>
                @@include('../../bem-blocks/price/price.html')
                <div class="developer__pagination">
    
                    @@include('../../bem-blocks/pagination/pagination.html')
                </div>
            </div>
        </div>
        <div class="developer__links-wrapper">

            <a class="developer__links developer__links--accent" href="">объекты застройщика</a>
            <a class="developer__links developer__links--white" href="">больше о застройщике</a>
        </div>
    </div>
</section>