.developer__title{
    margin-bottom: 0;
    font-size: clamp(29px, 7vw, 96px); 
    line-height: 110%;
}

.developer__section-title{
    display: grid;
    grid-template-columns: repeat(2, auto);
    @media (min-width:800px) {
        gap: 80px;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width:800px) {
        
    }
}

.developer__subtitle{
    font-size: clamp(12px, 2vw, 16px);

    margin-bottom: 24px;
}

.developer__description{
    color: rgb(89, 89, 89);
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 400;
    line-height: 150%;
    
    padding: 17px 0;

    grid-column: span 2;

    @media (min-width:800px) {
            grid-column: 2;
            grid-row: 1;
    }
}

.developer__item{
    height: 243px;
    border-radius: 32px;
    border-radius: 32px;
    background:  linear-gradient(0.00deg, rgb(0, 0, 0),rgba(0, 0, 0, 0) 43.914%),
     url('../img/developer.webp') 50% 50%;
 
    
    display: flex;

    @media (min-width:800px) {
        height: 509px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 90px;
    }
}

.developer__item-title{
    color: rgb(255, 255, 255);
    font-family: 'NeutralFace';
    font-size: clamp(20px,2.5vw,34px);
    font-weight: 400;
    line-height: 105%;
    max-width: 70%;

}
.developer__item-content{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;

    align-self: flex-end;
}

.developer__pagination{
    position: relative;
  
    height: 5px;
    
    @media (min-width:800px) {
        margin-left: 39px;
    }
}

.developer__links-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;

    @media (min-width:800px) {
        flex-direction: row;
        max-width: 60%;
        margin-top: 30px;
    }
}

.developer__links{
    display: block;
    text-align: center;
    width: 100%;
    padding: 19px;


    font-family: 'NeutralFace';
    font-size: clamp(12px, 4vw, 16px);
    font-weight: 400;
    line-height: 100%;
    border-radius: 99px;
        &--accent{
            color: #fff;
            background-color: $accent;
        }
        &--white{
            border: 1px solid #000;
        }

   
}

.developer__swiper-buttons{
    justify-self: flex-end;
    align-self: center;
    @media (min-width:800px) {
        grid-column: 2;
        justify-self: self-start;
        align-self: flex-start
    }
}