.slider-item__pagination {
    width: 85px;
    display: flex;
    gap: 5px;
    // position: absolute;
    top: 25px;
    @media (min-width: 800px) {
        top: 215px;
        left: 50%;
        transform: translate(-50%, 0);
       }
}
.pagination__bullet {
    width: 13px;
    height: 5px;
    border-radius: 20px;

    background: rgb(255, 255, 255);
    opacity: 0.3;
    &--active{
        width: 32px;
        opacity: 1;
    }
}