<div class="hero__form">

    <form action="" class="hero__form-form flex --just-space">
       <fieldset class="hero__form-fieldset">

        <div class="select">
        
                <div class="selectCustom-trigger --svg__arrow-down-after">Купить</div>
                <div class="selectCustom-options">
                  <div class="selectCustom-option">Купить</div>
                  <div class="selectCustom-option">Снять</div>
           
       
            </div>
          </div>
          <div class="select">
        
          
                <div class="selectCustom-trigger --svg__arrow-down-after">Любая недвижимость</div>
                <div class="selectCustom-options">
                  <div class="selectCustom-option">Купить</div>
                  <div class="selectCustom-option">Снять</div>
         
         
            </div>
          </div>
          <div class="select">
           
       
                <div class="selectCustom-trigger --svg__arrow-down-after">Цена</div>
                <div class="selectCustom-options">
                  <div class="selectCustom-option">Купить</div>
                  <div class="selectCustom-option">Снять</div>
            
            
            </div>
          </div>
            <input class="hero__form-input" type="text" placeholder="Район, адрес, метро или ЖК">
       </fieldset>
         <button class="hero__form-button" type="submit">Начать подбор</button>
    </form>
</div>