

    <div class="container-right">
    
        <div class=" testimonial__stories-swiper testimonial__stories-container">
        
            <div class="swiper-wrapper testimonial__stories-wrapper">
        
              <div class="swiper-slide">      
                <div class="testimonial__storie">
                    <div class="testimonial__storie-img">
                        <div class="testimonial__storie-img-wrapper testimonial__storie-img-wrapper--1">
        
                        </div>
                        </div>          
                    <div class="testimonial__storie-title">Avani Palm View </div>
                </div>
            </div>
              <div class="swiper-slide">      
                <div class="testimonial__storie">
                    <div class="testimonial__storie-img">
                            <div class="testimonial__storie-img-wrapper testimonial__storie-img-wrapper--2">
            
                            </div>
                        </div>          
                      
                    <div class="testimonial__storie-subtitle testimonial__storie-subtitle--bottom">400 метров от пляжа Мина-Сейахи</div>
                </div>
            </div>
              <div class="swiper-slide">      
                <div class="testimonial__storie">
                    <div class="testimonial__storie-img">
                        <div class="testimonial__storie-img-wrapper testimonial__storie-img-wrapper--3">
        
                        </div>
                        </div>          
                        <div class="testimonial__storie-subtitle testimonial__storie-subtitle--top">ресторан, открытый бассейн, бесплатный Wi-Fi</div>
                </div>
            </div>
              <div class="swiper-slide">      
                <div class="testimonial__storie">
                    <div class="testimonial__storie-img">
                        <div class="testimonial__storie-img-wrapper testimonial__storie-img-wrapper--4">
        
                        </div>
                        </div>          
                        <div class="testimonial__storie-subtitle testimonial__storie-subtitle--top">10 предложений от $309.484 </div>
                </div>
            </div>
              <div class="swiper-slide">      
                <div class="testimonial__storie">
                    <div class="testimonial__storie-img">
                        <div class="testimonial__storie-img-wrapper testimonial__storie-img-wrapper--5">
        
                        </div>
                        </div>          
                    <div class="testimonial__storie-title">Dubai Creek Harbour</div>
                </div>
            </div>
            </div>
        
          </div>
    </div>

  