<section class="testimonial">
    <div class="container">
        <div class="testimonial__title">
            <h2 class="title-1 testimonial__title--mobile">Жизнь в реальном времени</h2>
            <div class="testimonial__title--desktop">

                <h2 class="title-2">рекомендуем</h2>
                <div class="swiper-buttons">

                    <button class="swiper-button testimonial__swiper-button-prev --svg__arrow-prev-before"></button>
                    <button class="swiper-button testimonial__swiper-button-next --svg__arrow-next-before"></button>
                </div>
            </div>
            <div class="slider-buttons"></div>
        </div>

    </div>
    
          <div class="testimonial__stories">
      
              @@include('../slider/_testimonials-slider.html')
              
          </div>



</section>