.projects__slider{
  overflow-x: hidden;
}
.projects__slider-item{
  width: 250px;
  height: 362px;
  border-radius: 32px;
  padding: 11px 14px 24px 24px;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;

  position: relative;
  background: linear-gradient(0.00deg, rgb(0, 0, 0),rgba(0, 0, 0, 0) 43.914%);
  
  @media (min-width: 800px) {
    width: 434px;
    height: 650px;    
    padding: 20px 20px 40px 40px;
    border-radius: 45px;
  }
  &:hover .projects__slider-item__buttons{
    opacity: 1;


  }
  &:hover .projects__slider-item__description{
    opacity: 1;
    margin-bottom: 0;
  }
}
.projects__title{
  flex-wrap: wrap;
  gap: 30px;
}
.projects__swiper-buttons{
  
display: none;

  @media (min-width: 800px) {
    display: flex;

   }
}
.projects__slider-item__img{
  position: absolute;
  top: 0;
  right: -200px;
  z-index: -1;

}
.projects__slider-item__bookmark{
  writing-mode: vertical-rl;
  display: block;
  width: 29px;
  height: 138px;

  top: 0;
  left: 30px;
  padding: 16px 9px 9px 9px;
  font-size: 8px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  @media (min-width: 800px) {
   
    width: 31px;
    height: 202px;
    background-size: cover;
    background-position: 50% 0;
    top: 0;
    left: 48px;
    padding: 25px 8px 30px 8px;

    font-size: 12px;
    line-height: 15px;
   }
}

.projects__slider-item__buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-end;
  @media (min-width: 800px) {
    opacity: 0;

 
  }
  transition: all .3s ease-in;
}

.projects__slider-item__titles{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;

 @media (min-width: 800px) {
   gap: 15px;

 }
}


.projects__slider-item__title {
  font-family: 'NeutralFace';
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;

  width: 171px;

  @media (min-width: 800px) {
    font-size: 34px;
    line-height: 35px;
    width: 100%;
  }
}
.projects__slider-item__prices {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0%;


  display: flex;
  align-items: center;
  gap: 4px;

  @media (min-width: 800px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    gap: 8px;
  }
}

.projects__slider-item__dot {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;

}

.projects__slider-item__description{
  display: none;

  @media (min-width: 800px) {
   
display: block;
    position: relative;
    margin-bottom: -80px;
    opacity: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    max-width: 80%;
  
    transition: all 500ms ease; 
  }
}

