<section class="news">
    <div class="container">
        <div class="news__title-wrapper">

            <h2 class="title-2 news__title">Новости</h2>
            <a class="news__title__btn btn">все новости</a>
        </div>
        <div class="news__content">

            <a href="#" class="new">
                
                <div class="new__data text">22.05.2022</div>
                <div class="new__title title-3">Аренда в Дубае: необходимо ли предварительное уведомление 
                    до возврата недвижимости?</div>
                <div class="new__description text">Жителям Дубая рекомендуется проверять договоры аренды на предмет положений о порядке действий перед освобождением квартиры или офиса - многие арендаторы жилой и коммерческой...
                </div>
    
            </a>
            <a href="#" class="new">
                
                <div class="new__data text">22.05.2022</div>
                <div class="new__title title-3">Аренда в Дубае: необходимо ли предварительное уведомление 
                    до возврата недвижимости?</div>
                <div class="new__description text">Жителям Дубая рекомендуется проверять договоры аренды на предмет положений о порядке действий перед освобождением квартиры или офиса - многие арендаторы жилой и коммерческой...
                </div>
    
            </a>
        </div>
        <a class="news__btn btn">все новости</a>
    </div>
</section>