<section class="articles">
    <div class="container">
        <div class="articles__titles section-title"">
            <h2 class="title-2 articles__title">
                статьи
            </h2>
            <a class="articles__title-btn btn">все статьи</a>
        </div>
        <div class="articles__content">
            <a class="article">
                <div class="article__img">
                    <span class="article__img-time">10 минут</span>
                    <img src="../img/article-1.webp" alt="">
                </div>
                <div class="article__title">Как не ошибиться с выбором района в Дубаи</div>
                <div class="article__text text"> Как не дать себя обмануть: что, где и как выбирать? Советует эксперт.
                </div>    
            </a>

            <a class="article">
                <div class="article__img">
                    <span class="article__img-time">10 минут</span>
                    <img src="../img/article-1.webp" alt="">
                </div>
                <div class="article__title">Как не ошибиться с выбором района в Дубаи</div>
                <div class="article__text text"> Как не дать себя обмануть: что, где и как выбирать? Советует эксперт.
                </div>    
            </a>
            <a class="article">
                <div class="article__img">
                    <span class="article__img-time">10 минут</span>
                    <img src="../img/article-1.webp" alt="">
                </div>
                <div class="article__title">Как не ошибиться с выбором района в Дубаи</div>
                <div class="article__text text"> Как не дать себя обмануть: что, где и как выбирать? Советует эксперт.
                </div>    
            </a>

        </div>
        <a class="articles__btn btn">все статьи</a>
    </div>
</section>