<section class="newsletter">
    <div class="container">
        <div class="newsletter__wrapper">

            <div class="newsletter__content">
    
                <h2 class="newsletter__title title-3">Подпишитесь на рассылку 
                    о новостях недвижимости</h2>
                    <div class="newsletter__text">При подписке вы принимаете условия <a  href="">Пользовательского соглашения</a> и <a href="">Политики конфиденциальности</a></div>
                    <form class="newsletter__form" action="">
                        <input class="newsletter__input" type="email" name="" id="" placeholder="Ваш e-mail">
                        <button class="newsletter__submit btn" type="submit">Подписаться</button>
                    </form>
            </div>
        </div>
    </div>
</section>