.newsletter {
 
}
.newsletter__wrapper{
    border-radius: 32px;
    background-image: url('../img/newsletter-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;

}
.newsletter__content {
    padding: 40px 24px;
    color: #fff;

    @media (min-width: 800px) {
        max-width: 65%;
        padding: 60px;
    }
}
.newsletter__title {
    margin-bottom: 14px;
    font-size: clamp(24px,5vw,48px);
    @media (min-width: 800px) {
        margin-bottom: 33px;
    }
}

.newsletter__text {
    font-size: clamp(12px, 5vw, 14px);
    line-height: 150%;
    color: #fff;

    margin-bottom: 19px;
    a{
        text-decoration: underline ;
    }

    @media (min-width: 800px) {
        margin-bottom: 88px;
        max-width: 393px;
    }
}
.newsletter__input{
    width: 100%;
    border-radius: 99px;
    padding: 17px 24px;
    border: none;
    font-size: 14px;
    
    @media (min-width: 800px) {
        display: block;
        padding: 32px 48px;
        font-size: 20px;
    }
}
.newsletter__submit {
    width: 100%;
    border: none;
    background-color: $accent;
    color: #fff;
    
    @media (min-width: 800px) {
        position: absolute;
        width: 255px;
        right: -1px;
        height: 100%;
        padding: 32px 48px;
    }
}

.newsletter__form{
    display: flex;
    flex-direction: column;
    gap: 11px;

    @media (min-width: 800px) {
        position: relative;
       
    }
}