<section class="hero">
    <div class="container">
       <div class="hero__header flex">

           <h1 class="hero__title title-1">Продажа <span class="hero__title--dec">и&nbsp;аренда</span><br><span class="text-white">новостроек в&nbsp;Дубаи</span></h1>
           <div class="hero__header-slider">
            <div class="hero__header-slide">Первопричиной снижения цен считается увеличение числа предложений на рынке недвижимости, что позволяет эмирату быть на третьем месте в списке городов мира.
            </div>
            <div class="hero__slider-buttons">
                <button class="hero__slider-button hero__slider-button--active"></button>
                <button class="hero__slider-button"></button>
                <button class="hero__slider-button"></button>
                <button class="hero__slider-button"></button>
            </div>
           </div>
       </div>

         
          
            <div class="hero__content flex --dir-col">
                <a href="" class="hero__link">Виллы<span class="hero__link-counter">135</span></a>
                <a href="" class="hero__link">Таунхаусы<span class="hero__link-counter">1 435</span></a>
                <a href="" class="hero__link">Апартаменты<span class="hero__link-counter">2 830</span></a>
                <a href="" class="hero__link">Пентхаусы / Дуплексы<span class="hero__link-counter">2 435</span></a>
                <a href="" class="hero__link">Все объекты в Дубае<span class="hero__link-counter">24 535</span></a>
            
            </div>
                @@include('../../bem-blocks/hero__form/_hero__form.html')
            </div>
        </div>
    </div>
</section>