<section class="about">
    <div class="container">
        <div class="subtitle about__subtitle">О компании</div>
        <h2 class="about__title title-2">Выгодные 
            цены на недвижимость в&nbsp;Дубаи</h2>
            <div class="about__content">
                <div class="about__text text">Serenia Residences is a hidden gem on The Palm Jumeirah, home to a select few. This magnificent property is a private residential resort that offers an elite collection of 1, 2, 3 bedroom apartments and half-floor penthouses set in a stunning location overlooking The Palm, Atlantis, Burj Al Arab, the Dubai Marina skyline and the captivating blue seas 
                    of The Gulf.  </div>
                    <div class="about__content-grid">
                        <div class="about__content-grid__item">
                            <div class="about__content-grid__item__title">0%</div>
                            <div class="about__content-grid__item__text">Работаем без комиссии</div>
                        </div>
                        <div class="about__content-grid__item">
                            <div class="about__content-grid__item__title">2.99%</div>
                            <div class="about__content-grid__item__text">Доступная ипотека</div>
                        </div>
                        <div class="about__content-grid__item">
                            <div class="about__content-grid__item__title">2010</div>
                            <div class="about__content-grid__item__text">Год основания компании</div>
                        </div>
                        <div class="about__content-grid__item">
                            <div class="about__content-grid__item__title">2010</div>
                            <div class="about__content-grid__item__text">Год основания компании</div>
                        </div>
                    </div>
                    <div class="about__btns">
                        <a class="btn about__btn btn--accent" href="">больше о компании</a>
                        <a class="btn about__btn " href="">видео о нас</a>
                    </div>
            </div>
    </div>
</section>